{{>partials/header}}

<div class="d-flex align-items-center justify-content-center container max-width-1200 mx-auto">
    <div class="login container m-lg-5 p-5 rounded bg-primary">
        <h1 class="text-center text-light mb-4"> Cadastre-se </h1>
        <form method="POST" class="form-floating">
            <div class="form-floating row">
                <input class="form-control" type="name" id="name" name="name" placeholder="Digite seu e-mail aqui"/>
                <label for="name">Nome</label>
            </div>
            <div class="form-floating row my-3">
                <input class="form-control" type="email" id="email" name="email" placeholder="Digite seu e-mail aqui"/>
                <label for="email">E-mail</label>
            </div>
            <div class="form-floating row my-3">
                <input class="form-control" type="password" id="password" name="password" placeholder="Digite sua senha aqui"/>
                <label for="password">Senha</label>
            </div>
            <div class="form-floating row my-3">
                <input class="form-control" type="password" id="password-confirm" name="password-confirm" placeholder="Digite sua senha aqui"/>
                <label for="password-confirm">Confirmar senha</label>
            </div>

            <button class="btn btn-outline-light my-3">Cadastrar</button>

            <br/>
            <small class="text-center text-light"><a href="/login" class="link-light">Fazer login<a></small>
        </form>
    </div>
</div>

{{>partials/footer}}