<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

    <title>Eventos</title>
</head>
<body>
   <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid max-width-1200 mx-auto">
                <a class="navbar-brand" href="#">
                    <img src="/images/logo.png" alt="" width="30" height="24" class="d-inline-blok text-align-top">
                    Eventos
                </a>
                {{#userIsAuthenticated}}
                     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <div class="container-fluid d-flex flex-column flex-lg-row align-items-center justify-content-lg-end mb-2 mb-lg-0">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/user">Meus eventos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/new-event">Novo evento</a>
                                </li>
                                <li class="nav-item ms-0 ms-lg-5">
                                    <div class="d-lg-flex">
                                        <a class="nav-link text-primary" href="/user/profile">Kanban tester</a>
                                        <a class="nav-link" href="#"><small class="text-danger">Sair</small></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                {{/userIsAuthenticated}}
            </div>
        </nav>
   </header>