
{{#successMessage}}
    <div class="alert alert-success">
        {{.}}
    </div>
{{/successMessage}}

{{#warningMessage}}
    <div class="alert alert-warning">
        {{.}}
    </div>
{{/warningMessage}}

{{#errorMessage}}
    <div class="alert alert-danger">
        {{.}}
    </div>
{{/errorMessage}}